body {
  font-family: "Roboto Condensed", sans-serif;
  overflow-x: hidden;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather Sans", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
}

/* Buttons */
.read-more {
  padding: 6px 10px;
  color: #00adef;
  border: 1px solid #00adef;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  display: inline;
  text-decoration: none;
  font-size: 13px;
  transition: all 0.3s ease;
}

.read-more:hover {
  text-decoration: none;
  color: #fff;
  background-color: #00adef;
}

/* Header */
#top-header .download-app-link {
  max-width: 100%;
  margin-left: 0%;
}
#top-header .navbar-nav .nav-link {
  font-family: "Roboto Condensed", sans-serif;
  color: #2e3192;
  font-size: 20px;
  font-weight: 700;
  text-transform: unset;
  /* padding: 5px 16px 30px; */
}

/* Hero Slider */
#hero-slider {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 1.5rem 0;
  color: #fff;
  overflow: hidden;
}
#hero-slider h1 {
  font-weight: bold;
  color: #fff;
}
#hero-slider .item h4 {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff;
}
#hero-slider .owl-dots {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#hero-slider .owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  background: #00adef;
  border-radius: 50%;
  margin: 7px;
}

#hero-slider .owl-dots .owl-dot.active {
  width: 15px;
  height: 15px;
  background: #fff;
}

#hero-slider .slider-footer {
  display: flex;
  margin-top: 1.5rem;
}
#hero-slider .slider-footer li {
  margin-right: 14px;
  font-weight: bold;
}

#hero-slider .slider-footer p {
  color: #a2a4c7;
  font-size: 13px;
}

/* Main Right */
.main-left .item {
  border-bottom: 1px solid #d6d8e5;
  color: #666666;
}
.main-left .item .read-more {
  color: #2e3192;
  border-color: #2e3192;
}
.main-left .item .read-more:hover {
  background: #2e3192;
  color: #fff;
}

.main-left .item h4 {
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d6d8e5;
}
.blog-footer li p {
  font-size: 14px !important;
  color: #a2a4c7 !important;
}

/* Main Right */
.main-right {
  background: #f0f2f5;
}
.right-content-middle {
  width: 60%;
  margin: 0 auto;
}
.right-content-middle .input-group .input-group-text {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #2e3192;
  color: #ffffff;
}
.right-content-middle .barbox-title {
  font-weight: 800;
  color: #a2a4c7;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-bottom: 25px;
  font-size: 13px;
  border-bottom: 1px solid #a2a4c7;
}

.popular-post-list li {
  padding: 12px 0;
  border-bottom: 1px solid #a2a4c7;
  list-style: none;
}
.popular-post-list li a {
  color: #2e3192;
  display: block;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
}

.catagory-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.catagory-list li {
  border: 0;
  background: #2e3192;
  padding: 5px 9px;
  margin-right: 5px;
  border-radius: 5px;
  margin-top: 15px;
}

.catagory-list li a {
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

/* Footer */
#site-footer .footer-top {
  background-color: #151746;
  padding: 20px 25px;
}
#site-footer .footer-top .social-links li a {
  padding: 10px;
  margin: 0 5px;
}
#site-footer .footer-top .terms-policy li a {
  padding: 0.1rem 1rem;
  text-transform: uppercase;
  font-size: 14px;
}
#site-footer .footer-top .terms-policy li:not(:last-child) a {
  border-right: 1px solid #0056b3;
}
#site-footer .footer-bottom {
  background-color: #2b2f8c;
  padding: 15px 0;
}
#site-footer .footer-bottom p {
  color: #00adef;
  font-size: 13px;
}

/* Blog Details Page */
#hero-area {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 3.5rem 6rem;
  color: #fff;
  overflow: hidden;
}
#hero-area h1 {
  font-size: 43px;
  font-weight: bold;
}
.blog-details-area {
  padding: 4.5rem 2rem 0 3.6rem;
  color: #666666;
  border-bottom: 1px solid #ddd;
  margin-bottom: 4rem;
}
.blog-details-area p,
.blog-details-area h3,
.blog-details-area h2,
.blog-details-area h4 {
  color: #666666;
  font-family: "Merriweather Sans", sans-serif;
}
.blog-details-area h2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
  margin-bottom: 0.8rem;
}
.blog-details-area h3 {
  margin-bottom: 0.5rem;
}
.blog-details-area p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 1rem;
}

/* Responsive */
@media (max-width: 575.98px) {
  h1 {
    font-size: 9vw;
  }
  #top-header .navbar-brand {
    width: 85%;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  #navbarNav .navbar-nav .nav-link {
    font-size: 19px;
  }
  #navbarNav .navbar-nav .nav-link .menu_hasi {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .main-right .right-content-middle {
    width: 80% !important;
    margin: 0 auto;
  }
}
